body{
    background-color: black;
}

.frist_word{
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.basic_word{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.basic_head{
    background-color: rgb(247, 247, 247);
    text-align: start;
}